header {
   background-color: #333;
   box-shadow: 0 1px 5px rgba(0, 0, 0, 0.267);
}

nav#navbar {
   display: flex;
   justify-content: space-around;
   align-items: center;

   max-width: 1240px;
   margin: 0 auto;
   height: 90px;
}

div.nav-brand {
   display: flex;
   align-items: center;
   gap: 1rem;
}

div.nav-brand > h1 {
   font-family: 'Grenze', serif;
   font-weight: 500;
   font-size: 2rem;
}

ul.nav-list {
   display: flex;
   gap: 2rem;

   list-style: none;
}

ul.nav-list a {
   text-decoration: none;
   color: #aaa;
   font-size: 1.1rem;
   transition: ease-in-out color .3s;
}

ul.nav-list a:hover {
   transition: ease-in-out color .3s;
   color: white;
}
